.bg-reactangle {
  background-color: rgba(128, 128, 128, 0.3);
}

.bg-active-bar {
  background-color: #3b82f6;
  opacity: 1;
}

.bg-gray-bar {
  background-color: rgba(128, 128, 128, 0.4);
  opacity: 0.8;
}

.active-bar {
  transition: all 0.3s ease;
}
