.bgReactangle {
  background-color: rgba(128, 128, 128, 0.3);
}

.bgActiveBar {
  background-color: #3b82f6;
  opacity: 1;
}

.bgGrayBar {
  background-color: rgba(128, 128, 128, 0.4);
  opacity: 0.8;
}

.activeBar {
  transition: all 0.3s ease;
}
