@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/Helvetica-Neue-Font/Medium-Extended.ttf');
  font-weight: normal;
  font-style: normal;
}

html body .page-content p {
  line-height: 2.3;
  margin-bottom: 12px;
}

/* styles/globals.css */
*[data-theme='light'] {
  --background-color: #ffffff;
  --light-background-color: #F9FAFB;
  --text-color: #000000;
  --primary-color: #0083FD;
  --primary-hover: #2563EB;
  --secondary-color: #64748B;
  --button-text: #000000;
  --border-color: #64748B;
}


:root {
  --background-color: #000;
  --light-background-color: #1F2937;
  --text-color: #ffffff;
  --primary-color: #0083FD;
  --primary-hover: #2563EB;
  --secondary-color: #94A3B8;
  --button-text: #ffffff;
  --button-hover: #1D4ED8;
  --border-color: #64748B;
}

*[data-theme='paper'] {
  --background-color: #E1DBCC;
  --light-background-color: #1F2937;
  --text-color: #7E7254;
  --primary-color: #BBAE8C;
  --primary-hover: #2563EB;
  --secondary-color: #94A3B8;
  --button-text: #ffffff;
  --button-hover: #1D4ED8;
  --border-color: #64748B;
}

*[data-theme='astronomy'] {
  --background-color: #000;
  --light-background-color: #1F2937;
  --text-color: #FF3737;
  --primary-color: #B30505;
  --primary-hover: #2563EB;
  --secondary-color: #94A3B8;
  --button-text: #ffffff;
  --button-hover: #1D4ED8;
  --border-color: #64748B;
}


/* Hide the spinner for WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  /* Remove the spinner in Firefox */
}

/* Custom utility classes using CSS variables */
.bg-background {
  background-color: var(--background-color);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.bg-background--light {
  background-color: var(--light-background-color);
}

.text-text {
  color: var(--text-color);
}

.bg-text {
  background-color: var(--text-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-primary:hover {
  color: var(--primary-hover);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-button-text {
  color: var(--button-text);
}

.border-text {
  border-color: var(--text-color);
}

.text-button-text:hover {
  color: var(--button-hover);
}

.border-border {
  border-color: var(--border-color);
}

.badge-shadow {
  background: var(--Functional-tokens-Link-bg, var(--primary-color));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 3px 7px -2px rgba(255, 255, 255, 0.64) inset;
}

html,
body {
  min-height: 100vh;
  background: var(--background-color) !important;
  overflow-x: hidden;
}

input,
textarea {
  /* background: var(--background-color) !important; */
  color: var(--text-color) !important;
}

/* p {
  color: var(--text-color) !important;
} */

.searchbar .wrapper {
  background: var(--background-color) !important;
  color: var(--text-color) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* Ensure all elements start invisible */
  animation: fadeIn 0.5s forwards;
  /* 0.5s for each fade effect */
}

.border-gradient {
  border: 1px solid;
  border-radius: 21px;
  border-color: #FFFFFF5E;
  background-color: #FFFFFF2B;
  box-shadow: 0px 4px 74px 0px #00000033;
  backdrop-filter: blur(40px);
}

.action-button-gradient {
  border: 1px solid;
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.12);
  box-shadow: 0px 4px 14px 0px #0808081a;
}

.active-bar {
  box-shadow: 0px 0px 24px 0px #0083FD80;
}

.focus-text {
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.6), rgba(2, 2, 2, 0.6)),
    linear-gradient(0deg, rgba(13, 139, 255, 0.1), rgba(13, 139, 255, 0.1));
}

.adjust-box {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(135.91409301757812px)
}