<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Push Notifications -->
	<key>aps-environment</key>
	<string>development</string>

	<!-- Associated Domains for Universal Links / Deep Linking -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:wewrite.app</string>
		<string>applinks:www.wewrite.app</string>
		<string>webcredentials:wewrite.app</string>
	</array>
</dict>
</plist>
